<div (window:resize)="onResize($event)">
  <div *ngIf="!isMobile">
    <div class="wrapper">
      <div class="row" style="padding: 0; margin: 0;">
        <div class="col-10" style="padding: 0; margin: 0;">
          <app-logo></app-logo>
          <app-header *ngIf="isAuthenticated"></app-header>
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
        <div class="col-2" style="padding: 0; margin: 0;">
          <app-cart *ngIf="isAuthenticated"></app-cart>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isMobile">
    <div>
      <mat-drawer-container>
        <mat-drawer #drawer mode="push"><app-header></app-header></mat-drawer>
        <mat-drawer #cart mode="push" position="end"
          ><app-cart></app-cart
        ></mat-drawer>
        <mat-drawer-content>
          <app-logo
            (toggleBtnClick)="drawer.toggle()"
            (cartBtnClick)="cart.toggle()"
          ></app-logo>
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</div>
