<div class="wrapper">
  <div class="carousel">
    <app-carousel></app-carousel>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6">
        <img
          class="imageClass"
          src="  https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg"
          alt=""
        />
      </div>
      <div class="col-12 col-sm-6">
        <img
          class="imageClass"
          src="https://images.unsplash.com/photo-1571091655789-405eb7a3a3a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
