h4,
p {
  margin: 0;
  padding: 0;
}
.item {
  padding: 0px;
}
button {
  color: #212529;
  background-color: transparent;
  cursor: pointer;
}
.name,
.price {
  padding: 0px;
  margin: 0px;
  color: #212529;
  font-family: "United-Sans-Rg-Lt", "Oswald", sans-serif;
  width: 100%;
  font-weight: 300;
}
.name {
  justify-content: start;
}
.priceWrapper {
  display: flex;
  align-items: flex-start;
}
.priceWrapper button {
  color: white;
  padding: 2px;
  margin-left: 5px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 20px;
}
.priceWrapper button i {
  text-align: center;
}
.size {
  display: flex;
}
.size p {
  margin: 0px;
  margin-right: 5px;
}
.price {
  display: flex;
  justify-content: flex-end;
}
button {
  border: 0px;
  border-style: none;
  background-color: transparent;
}
.name p,
.price p {
  font-size: 17px;
}
.small-detail {
  font-size: 10px;
  margin: 0px;
}
.firstLine {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  align-items: flex-start;
}
.btns {
  display: flex;
  margin-top: 10px;
}
.btns button {
  margin-right: 5px;
}
